* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans'. sans-serif;
  }
  
  .container { 
    display: grid;
    /*grid-template-columns: minmax(100px,1fr) minmax(100px,1fr) minmax(100px,1fr) minmax(100px,1fr);*/'
    grid-template-columns: repeat (auto-fit, minmax (100px, 2fr));
    grid-template-rows: auto repeat (4, 1fr) auto;
    height: 100vh;
    row-gap: 1rem;
    column-gap: 1rem;
    
    
  }
  
  .item-1 {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    background-color: red;
  }
  .item-2 {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    background-color: yellow;
  }
  .item-3 {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
    background-color: gray;
    /*width: 95%;
    margin-right: auto;
    margin-left: auto;*/
  }
  
  .item-4 {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
    background-color: blue;
  }
    
   .item-5 {
    grid-column: 1 / 5;
    grid-row: 5 / 6;
    background-color: grey;
  }
  .item-6 {
    grid-column: 1 / 5;
    grid-row: 6 / 7;
    background-color: pink;
  }
  
  .item-2 {
    background-image: url("./images/sunshine.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top;
    background-size: cover;
  }
  #title {
    font-size: 5rem;
    text-align: center;
    margin-top: 40px;
  }

  #subtitle {
    text-align: center;
    color: blueviolet;

  }
  /*.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
    height: 120px;
    background-color: rgba(78, 70, 74, 0.41);
    /*min-max: (200px, 350px); nisam siguran da je ovo potrebno*/
  }

  .logo {
    color: red;
    font-size: 1.2rem;
  }
  span {
    color: pink;
  }
  
  .logo a {
    text-decoration: none;
  }
  
  .logo a:hover {
    color: pink;
    transition: .3s;
    cursor: pointer;
  }
  div ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 10px;
  }
  
  div ul li a {
    color: brown;
    text-decoration: none;
    font-weight: bold;
  }
  
  div ul li a:hover {
    color: pink;
    transition: .3s;
    cursor: pointer;
  }

  @media screen and (max-width: 410px)
  {
    div ul li {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
      }
  }

  .navbar {
    height: 150px;
    padding-top: 10px;
  }
  

  /* coolors 79, 100, 111 4F646F  ray color
  platinum DEE7E7  */
  /*https://coolors.co/a1e8af-94c595-747c92-372772-3a2449
  */
  /*https://coolors.co/c4f1be-a2c3a4-869d96-525b76-201e50*/
  /*Roboto + Rokkitt  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rokkitt:wght@300&display=swap" rel="stylesheet">*/